@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap");
@font-face {
  font-family: "walkwayblack";
  src: url("../fonts/walkwayblack.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 1366px;
  margin: 0 auto;
  background-color: #323232;
}
body img {
  width: 100%;
}

.header {
  position: relative;
  background-color: white;
}
.header .header__text {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header .header__text .social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;
}
.header .header__text .social .social__logo {
  display: block;
  font-family: "walkwayblack";
  font-size: 36px;
  margin-left: 100px;
  transition: 1s;
}
.header .header__text .social .social__logo p {
  color: white;
}
.header .header__text .social .social__logo span {
  color: #0199e6;
}
.header .header__text .social .social__wide {
  display: block;
  margin-right: 100px;
  transition: 1s;
}
.header .header__text .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  top: -100px;
  transition: 0.5s;
  background-color: white;
  z-index: 5;
}
.header .header__text .nav .burger {
  display: none;
}
.header .header__text .nav .nav__logo {
  font-family: "walkwayblack";
  font-size: 36px;
  margin-left: 7.32vw;
}
.header .header__text .nav .nav__logo p {
  color: grey;
}
.header .header__text .nav .nav__logo span {
  color: #0199e6;
}
.header .header__text .nav .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.19vw;
  margin-right: 7.32vw;
}
.header .header__text .nav .menu a {
  text-decoration: none;
  color: #919191;
}
.header .header__text .nav .menu a li {
  position: relative;
}
.header .header__text .nav .menu a:hover {
  color: #0199e6;
}
.header .header__text .nav .menu a:hover li::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  bottom: -13px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid #0199e6;
}
.header .header__text .nav .menu a:active {
  color: #0199e6;
}
.header .header__text .nav .menu li {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  list-style-type: none;
}
.header .header__text .caption {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.header .header__text .caption .caption__h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3.22vw;
  color: white;
  font-weight: 300;
  margin-top: 10.98vw;
}
.header .header__text .caption .caption__h1 .strong {
  font-weight: 700;
}
.header .header__text .caption .caption__h1 .strong--blue {
  color: #0199e6;
}
.header .header__text .caption .caption__h1 .strong--white {
  color: white;
}
.header .header__text .caption .caption__h11 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 300;
  margin-top: 10.98vw;
}
.header .header__text .caption .caption__h11 .strong {
  font-weight: 700;
}
.header .header__text .caption .caption__h11 .strong--blue {
  color: #0199e6;
}
.header .header__text .caption .caption__h11 .strong--white {
  color: white;
}
.header .header__text .caption .caption__p {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  max-width: 55%;
  text-align: center;
  margin-top: 2.56vw;
  font-size: 20px;
}
.header .header__text .registered {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  gap: 15px;
  margin-top: 5.49vw;
}
.header .header__text .registered input {
  height: 50px;
  width: 200px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  border-left: 4px solid #0199e6;
  border-top: 0.5px solid #0199e6;
  border-right: 1px solid #0199e6;
  border-bottom: 1px solid #0199e6;
  padding-left: 20px;
  color: white;
}
.header .header__text .registered button {
  height: 50px;
  width: 170px;
  background-color: #0199e6;
  font-weight: 600;
  color: white;
  font-family: "Raleway", sans-serif;
  border: 0px;
}
.header .header__text .tips {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  transform: translate(70%);
  align-items: flex-end;
}
.header .header__text .tips .tips__p {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
.header .header__text .tips .tips__img {
  width: 34px;
  height: 26px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.brif {
  display: flex;
  flex-direction: row;
  padding: 7vw;
  gap: 40px;
  background-color: white;
}
.brif--modify {
  background-color: #f7f8fa;
  flex-direction: row-reverse;
}
.brif .brif__item {
  flex-basis: 50%;
}
.brif .brif__item .image {
  width: 100%;
}
.brif .brif__item .caption {
  font-family: "Raleway", sans-serif;
  color: black;
}
.brif .brif__item .caption::after {
  display: block;
  content: "";
  width: 75px;
  border-bottom: 1px solid #0199e6;
  margin-top: 20px;
  margin-bottom: 20px;
}
.brif .brif__item .discription {
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  margin-bottom: 20px;
}

.features {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.features .block .block__caption {
  font-family: "Raleway", sans-serif;
  color: black;
  margin-bottom: 10px;
}
.features .block .block__discription {
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  margin-bottom: 20px;
}

.our-feachers {
  display: flex;
  flex-direction: column;
  padding: 7.32vw;
  background-color: white;
}
.our-feachers .our-feachers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-feachers .our-feachers__item--modify {
  margin-top: 3.66vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
.our-feachers .our-feachers__item .title {
  font-family: "Raleway", sans-serif;
  color: black;
  margin-bottom: 15px;
  text-align: center;
}
.our-feachers .our-feachers__item .line {
  width: 75px;
  border-bottom: 1px solid #0199e6;
  margin-bottom: 15px;
}
.our-feachers .our-feachers__item .specification {
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.cards .cards__title {
  font-family: "Raleway", sans-serif;
  color: black;
  text-align: center;
}
.cards .cards__definition {
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  text-align: center;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f8fa;
  padding-bottom: 5.12vw;
}
.pricing .pricing__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.46vw;
  margin-top: 5.12vw;
}
.pricing .pricing__item .line {
  width: 100px;
  height: 1px;
  border-bottom: 1px solid #0199e6;
}
.pricing .pricing__item .caption {
  font-family: "Raleway", sans-serif;
  color: black;
}
.pricing .pricing__item .discription {
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  text-align: center;
}
.pricing .pricing__item--row {
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  gap: 20px;
}

.pricing-table {
  border: 1px solid #e5e5e5;
}
.pricing-table img {
  width: 10px;
  height: 10px;
}
.pricing-table .pricing-table__head {
  background-color: #323232;
  color: white;
}
.pricing-table .pricing-table__head--bgcolor {
  background-color: #0199e6;
}
.pricing-table .pricing-table__head th {
  padding: 20px;
}
.pricing-table .pricing-table__head h3 {
  font-family: "Raleway", sans-serif;
}
.pricing-table .pricing-table__head p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}
.pricing-table .pricing-table__head .span {
  color: #0199e6;
  font-weight: 600;
}
.pricing-table .pricing-table__head .span--color {
  color: white;
}
.pricing-table tbody td {
  font-family: "Source Sans Pro", sans-serif;
  color: #323232;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px dashed #e5e5e5;
}
.pricing-table tbody .last-td {
  color: black;
  font-weight: 600;
  padding: 20px;
}
.pricing-table tbody .rigth {
  text-align: right;
}
.pricing-table tbody .rigth--bgcolor {
  background-color: #0199e6;
}
.pricing-table tbody .link {
  padding: 5px 10px 5px 10px;
  border: 1px solid #727272;
  border-radius: 5px;
  color: #727272;
  text-decoration: none;
  font-weight: 600;
  display: block;
  text-align: center;
}
.pricing-table tbody .link--color {
  background-color: #0199e6;
  border: none;
  color: white;
}

.watch-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 5.12vw;
}
.watch-video .watch-video__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.46vw;
  margin-top: 5.12vw;
}
.watch-video .watch-video__item .line {
  width: 100px;
  height: 1px;
  border-bottom: 1px solid #0199e6;
}
.watch-video .watch-video__item .caption {
  font-family: "Raleway", sans-serif;
  color: black;
}
.watch-video .watch-video__item .discription {
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  text-align: center;
}
.watch-video .watch-video__item .text-plus {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 600;
}
.watch-video .watch-video__item .image {
  max-width: 75%;
}
.watch-video .watch-video__item--row {
  flex-direction: row;
  width: 55%;
  justify-content: space-between;
}

.product-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f8fa;
  padding-bottom: 5.12vw;
}
.product-screen .product-screen__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.46vw;
  margin-top: 5.12vw;
}
.product-screen .product-screen__item .line {
  width: 100px;
  height: 1px;
  border-bottom: 1px solid #0199e6;
}
.product-screen .product-screen__item .caption {
  font-family: "Raleway", sans-serif;
  color: black;
}
.product-screen .product-screen__item .discription,
.product-screen .product-screen__item .text-plus {
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  text-align: center;
}
.product-screen .product-screen__item .text-plus {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 600;
}
.product-screen .product-screen__item .image {
  width: 35%;
}
.product-screen .product-screen__item--row {
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  gap: 20px;
}

.trusted {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 5.12vw;
}
.trusted .trusted__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.46vw;
  margin-top: 5.12vw;
}
.trusted .trusted__item .line {
  width: 100px;
  height: 1px;
  border-bottom: 1px solid #0199e6;
}
.trusted .trusted__item .caption {
  font-family: "Raleway", sans-serif;
  color: black;
  text-align: center;
}
.trusted .trusted__item .discription {
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  text-align: center;
}
.trusted .trusted__item .image {
  max-width: 100%;
}
.trusted .trusted__item--row {
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.trusted .trusted__item--row-second {
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.trusted .trusted__item--width {
  width: 80%;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.quote::before {
  content: "“ ";
  background-color: #0199e6;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  font-size: 25px;
  line-height: 0.5;
  border-radius: 7px;
  border-color: white;
  border: 3px solid white;
  outline: 2px solid #e9ebed;
  position: absolute;
  z-index: 2;
}
.quote .quote__quote {
  width: 80%;
  background-color: #f7f8fa;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  text-align: center;
  color: grey;
  padding: 50px 20px 20px 20px;
  border-bottom: 2px solid #e9ebed;
  position: relative;
  margin-top: 20px;
}
.quote .quote__quote::after, .quote .quote__quote::before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
}
.quote .quote__quote::after {
  border-top-color: #f7f8fa;
  border-width: 15px;
  margin-left: -15px;
}
.quote .quote__quote::before {
  border-top-color: #e9ebed;
  border-width: 17px;
  margin-left: -17px;
}
.quote .quote__author {
  color: #0199e6;
  font-style: normal;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-weight: 600;
  padding-top: 25px;
}
.quote .quote__source {
  color: grey;
  display: block;
  font-weight: normal;
}

.registration {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  justify-content: center;
  /* .registration__img {
      position: relative;

      .image {
          position: absolute;
          top: 0;
          left: 0;
      }
  } */
}
.registration .registration__text {
  width: 100%;
  color: white;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.83vw;
  position: absolute;
}
.registration .registration__text .caption {
  text-align: center;
}
.registration .registration__text .link {
  width: -moz-max-content;
  width: max-content;
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: #0199e6;
  border-radius: 5px;
  font-size: 12px;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer .contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  height: 100px;
}
.footer .contact-us p {
  margin: 0;
}
.footer .contact-us .contact-us__mail {
  color: #0199e6;
  text-decoration: none;
  font-size: 13px;
}
.footer .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fa;
  height: 150px;
}
.footer .copyright .copyright__logo {
  font-family: "walkwayblack";
  font-size: 20px;
}
.footer .copyright .copyright__logo span {
  color: #0199e6;
}
.footer .copyright .copyright__allright {
  color: #919191;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}
.footer .copyright .copyright__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.footer .copyright .copyright__icon a {
  display: block;
}
.footer .copyright .copyright__icon a svg {
  display: inherit;
}

@media (min-width: 1367px) {
  .header .header__text .social .nav {
    width: 1366px;
  }
}
@media (max-width: 1000px) {
  .header .header__text .tips {
    display: none;
  }
  .header .header__text .registered button {
    width: 225px;
  }
  .header .header__text {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header .header__text .caption {
    flex-basis: 50%;
  }
  .header .header__text .caption .caption__h1 {
    margin-top: 0px;
  }
  .header .header__text .social {
    flex-basis: 100%;
  }
  .header .header__text .registered {
    flex-direction: column;
    gap: 10px;
    margin-top: 5.12vw;
    flex-basis: 25%;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .registration .registration__img .image {
    height: 214px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pricing .pricing__item--row {
    flex-direction: column;
  }
}
@media (max-width: 840px) {
  .watch-video .watch-video__item--row {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .trusted .trusted__item--row-second {
    flex-direction: column;
  }
  .header .header__text .nav {
    justify-content: center;
  }
  .header .header__text .nav .nav__logo {
    align-self: center;
    margin: 0;
    flex: 1;
  }
  .header .header__text .nav .menu {
    display: none;
  }
  .header .header__text .nav .burger {
    display: block;
    margin-left: 5.12vw;
  }
  .header .header__text .nav .burger:active .burger__line {
    transform: rotate(0.1turn);
  }
  .header .header__text .nav .burger:active::before, .header .header__text .nav .burger:active::after {
    transform: translate(0, 220%) rotate(-0.1turn);
  }
  .header .header__text .nav .burger:active::after {
    transform: translate(0, -220%) rotate(-0.1turn);
  }
  .header .header__text .nav .burger .burger__line {
    width: 30px;
    height: 2px;
    border-bottom: 2px solid gray;
    transition: 0.3s;
  }
  .header .header__text .nav .burger::before, .header .header__text .nav .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    border-bottom: 2px solid gray;
    transition: 0.3s;
  }
  .header .header__text .nav .burger::before {
    margin-bottom: 5px;
  }
  .header .header__text .nav .burger::after {
    margin-top: 5px;
  }
}
@media (max-width: 740px) {
  .our-feachers .our-feachers__item--modify {
    grid-template-columns: 1fr 1fr;
    gap: 3.66vw;
  }
  .our-feachers {
    padding: 5.12vw;
  }
  .background__image {
    height: 667px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header .header__text {
    flex-direction: column;
  }
  .header .header__text .caption .caption__h1 {
    font-size: 36px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header .header__text .caption .caption__p {
    max-width: unset;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header .header__text .social {
    margin-bottom: 50px;
  }
  .header .header__text .social .social__logo {
    margin-left: 50px;
  }
  .header .header__text .social .social__wide {
    margin-right: 50px;
  }
}
@media (max-width: 650px) {
  .product-screen .product-screen__item--row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-screen .product-screen__item .image {
    width: 61%;
  }
}
@media (max-width: 600px) {
  .trusted .trusted__item--row {
    flex-wrap: wrap;
    width: 80%;
  }
  .trusted .trusted__item .image {
    max-width: 31%;
  }
  .registration .registration__text .link {
    width: 60%;
    text-align: center;
  }
  .registration .registration__text .caption {
    padding-left: 15%;
    padding-right: 15%;
  }
  .brif {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */